body{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    background-color: #fff;
    padding: 15px 0;
    width: 100%;
    z-index: 10;
    box-shadow: -1px 0px 11px 0px #999999;
}

header a{
    color: #000;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
}

h1{
    font-family: InterBold;
    font-size: 42px;
}

h2{
    font-family: InterSemibold;
    font-size: 34px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 46px;
}

button, a{
    font-family: InterBold;
    font-size: 20px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    white-space:nowrap
}

p, h3{
    font-family: InterRegular;
}

p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
}

iframe{
    height: 200px;
}

.black{
    background-color: #00000054;
}

.header-pad{
    height: 120px;
}

.header-menu{
    display: flex;
    overflow: scroll;
}

.backBlack{
    background-color: #1e1e1e;
    border-radius: 13px;
    padding: 6px;
    box-shadow: -6px 8px 4px 0px #1c1c1ca6;;
}

.container{
    padding: 0 25px;
}

.banner{
    width: 100%;
    background-image: url("./src/natureza.jpg");
    height: 200px;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img{
    width: 300px;
    height: 430px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 6px 1px 10px 0px #bfbfbf;
}

.hero button, .hero a{
    background-color: #1e1e1e;
    color: white;

}

.hero-description{
    padding: 30px;
    text-align: center;
}

.tratamentos, .socialArea{
    background-image: url('/src/natureza.jpg');
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}

.tratamentos button, .tratamentos a{
    display: block;
    margin: 34px auto 0;
    background-color: #fff;
    color: black;
    width: fit-content;
}

.black{
    padding: 60px 0;
}

.tratamentos p {
    margin-bottom: 30px;
}

.slider, .sliderCards-items, .socials{
    display: flex;
}

.sliderCards-items{
    justify-content: space-evenly;
}

.slider-left, .slider-right, .sliderCards-left, .sliderCards-right{
    cursor: pointer;
    margin: auto;
    padding: 10px;
    font-size: 40px;
}

.sliderCards{
    display: none;
}

.sliderCardsMobile .sliderCards-items{
    justify-content: flex-start;
    overflow: scroll;
}

.sliderCardsMobile .sliderCards-card{
    margin-left: 15px;
}

.tns-nav{
    margin-top: 20px;
    text-align: center;
}

.tns-nav .tns-nav-active{
    width: 30px;
    border-radius: 8px;
    transition: 0.3s;
}

.tns-nav button{
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 100%;
    background-color: #1c1c1c;
    padding: 0;
}

.tns-outer{
    width: 900px;
}

.sliderCards-card{
    background-color: #fff;
    color: black;
    border-radius: 30px;
}

.sliderCards-card h3, .videos{
    text-align: center;
}

.videos{
    padding: 60px 0;
}

.videos p{
    padding-bottom: 20px;
}

.sliderCards-card img{
    width: 250px;
    height: 150px;
    border-radius: 30px;
    object-fit: cover;
}

.social{
    background-image: url('./src/icons.jpg');
    width: 60px;
    height: 50px;
}

.socials{
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px 90px;
}

.facebook{
    background-position: -33px 368px;
}

.instagram{
    background-position: 276px 167px;
}

.whats{
    background-position: 185px 282px;
}

.telegram{
    background-position: 276px 282px;
}

@media(min-width: 768px){
    iframe{
        height: 480px;
    }

    .hero img{
        width: 400px;
        height: 575px;
    }
}

@media(min-width: 1024px){
    .hero{
        flex-direction: row;
        padding: 70px 25px;
    }

    .header-pad{
        height: 82px;
    }

    .sliderCardsMobile{
        display: none;
    }

    .sliderCards{
        display: flex;
    }

    .hero-description{
        text-align: left;
    }
    
    .header-menu{
        overflow: hidden;
    }
}

@media(min-width: 1200px){
    .container{
        padding: 0;
        margin: auto;
        max-width: 1200px;
    }

    .hero{
        padding: 70px 0;
    }

    .videos.container{
        padding: 60px 0;
    }
}